* {
  font-family: Arial, Helvetica, sans-serif;
}

.card_container {
  width: 400px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 5px;
}
.card_container .dealer_card {
  font-size: 1vw;
}
.card_container .dealer_card .card-back {
  width: 100%;
}
.card_container .dealer_card .card_front .card-number {
  font-size: 4rem;
  width: 50%;
  display: inline-block;
}
.card_container .dealer_card .card_front .card-suit {
  width: 50%;
  display: inline-block;
}

.player_cards__container .player_card {
  border: 2px solid black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player_cards__container .player_card span {
  font-size: 25px;
  line-height: 25px;
  display: inline-block;
}
.player_cards__container .player_card img {
  height: 20px;
  width: 20px;
  display: inline-block;
}/*# sourceMappingURL=main.css.map */