* {
    font-family: Arial, Helvetica, sans-serif;
}
.card_container {
    width: 400px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 5px;
    .dealer_card {
        font-size: 1vw;
        .card-back {
            width: 100%;
        }
        .card_front {
            .card-number {
                font-size: 4rem;
                width: 50%;
                display: inline-block;
            }
            .card-suit {
                width: 50%;
                display: inline-block;
            }
        }
    }
}

.player_cards__container {
    .player_card {
        border: 2px solid black;
        width: fit-content;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            font-size: 25px;
            line-height: 25px;
            display: inline-block;
        }
        img {
            height: 20px;
            width: 20px;
            display: inline-block;
        }
    }
}
